exclude: '^docs/conf.py'

repos:
- repo: https://github.com/asottile/seed-isort-config
  rev: v2.1.0
  hooks:
  - id: seed-isort-config

- repo: git://github.com/pre-commit/pre-commit-hooks
  rev: v2.5.0
  hooks:
  - id: trailing-whitespace
  - id: check-added-large-files
  - id: check-ast
  - id: check-json
  - id: check-merge-conflict
  - id: check-xml
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: requirements-txt-fixer
  - id: mixed-line-ending
    args: ['--fix=no']

- repo: https://gitlab.com/pycqa/flake8.git
  rev: 3.7.9
  hooks:
  - id: flake8
    args: ['--max-line-length=88']  # default of Black
    additional_dependencies:
    - flake8-bugbear
    - flake8-comprehensions
    - flake8-debugger
    - flake8-eradicate
    - flake8-executable
    - flake8-mock
    - flake8-mutable

- repo: https://github.com/PyCQA/bandit
  rev: 1.6.2
  hooks:
  - id: bandit
    args: [--exclude, tests/]

- repo: https://github.com/abravalheri/autoflake.git
  rev: pre-commit
  hooks:
  - id: autoflake
    args: [
      --in-place,
      --remove-all-unused-imports,
      --remove-unused-variables,
    ]

- repo: https://github.com/pre-commit/mirrors-isort
  rev: v4.3.21
  hooks:
  - id: isort
